@import url("reset.css");
@import url("960.css");
@import url("typography.css");
@import url("prettyPhoto.css");
@import url("nivo-slider.css");
@import url("tipTip.css");

#wrap {
	margin-left: auto;
	margin-right: auto;
	width:100%;
}
.inner_wrap {
	padding-top:30px;
}
#header {
	/*padding-top:30px;
	padding-bottom:30px;
	*/display:block;
	border-bottom:4px solid #787cec ;background:#000;padding-bottom: 4px;
}
#logo h1 {
	margin:0;
	padding:50%;
	
}
#logo {
margin-left:-30px;
	width:300px;
	height:142px;
	float:left;
}
#logo {
	background: transparent url('../img/logo_final.jpg') no-repeat scroll center left;
	
}
#logo a {
	display:block;
	height:100%;
	width:100%;
}

/*	
	A) GLOBAL
-------------------------------------------
	2. Navigation
-------------------------------------------
*/
#nav {
	margin-top:10px;
	float:right;
	position:relative;
	padding-top: 35px;
}
.jqueryslidemenu {
	background: transparent;
	width: 100%;
}
.jqueryslidemenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index:9999999;
	float:right;
}
/*Top level list items*/
.jqueryslidemenu ul li {
	position: relative;
	display: inline;
	float: left;
	margin-top:0 !important;
}
/*Top level menu link items style*/
.jqueryslidemenu ul li a {
	display: block;
	background: black; /*background of tabs (default state)*/
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
}
* html .jqueryslidemenu ul li a { /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}
.jqueryslidemenu ul li a:hover {
	background: transparent; /*tab link background during hover state*/
}
/*1st sub level menu*/
.jqueryslidemenu ul li ul {
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li {
	display: list-item;
	float: none;
	font-size:11px;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul {
	top: 0;
}
/* Sub level menu links style */
.jqueryslidemenu ul li ul li a {
	width: 160px; /*width of sub menus*/
	padding: 5px 15px 5px 15px;
	margin: 0;
}
/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass {
	position: absolute;
	top: 12px;
	right: 7px;
}
.rightarrowclass {
	position: absolute;
	top: 6px;
	right: 5px;
}
/*	
	A) GLOBAL
-------------------------------------------
	3. Slider 
-------------------------------------------
*/
/*============================*/
/*=== Custom Nivo Slider ===*/
/*============================*/
#slider_wrap {
	max-width:100%;
	margin-top:-10px;
}
.elastic-video-wrapper {
	max-width: 100%;
}
.elastic-video {
	position: relative;
	padding-bottom: 55%;
	padding-top: 15px;
	height: 0;
	overflow: hidden;
}
.elastic-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
}
#slider {
	position:relative;
	height:500px;
	background:url('../img/loading.gif') no-repeat 50% 50%;
	left:0;
	top:0;
}
#slider ul {
	list-style:none;
	margin:0 auto;
	padding:0;
}
#slider img {
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}
.nivo-controlNav {
	position:absolute;
	left:45%;
	bottom:10px;
	z-index:20;
}
.nivo-controlNav a {
	display:block;
	width:23px;
	height:24px;
	background:url('../img/nivo_inactive.png') no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background:url('../img/nivo_active.png') no-repeat;
}
.nivo-controlNav a:hover {
	background:url('../img/nivo_active.png') no-repeat;
}
.nivo-directionNav a {
	display:block;
	width:42px;
	height:42px;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background:url('../img/right_arrow.png') no-repeat;
	right:30px;
}
a.nivo-nextNav:hover {
	background:url('../img/right_arrow_hover.png') no-repeat;
	right:30px;
}
a.nivo-prevNav {
	background:url('../img/left_arrow.png') no-repeat;
	left:30px;
}
a.nivo-prevNav:hover {
	background:url('../img/left_arrow_hover.png') no-repeat;
	left:30px;
}
.nivo-caption {
	text-shadow:none;
	text-decoration:none !important;
}
/*	
	A) GLOBAL
-------------------------------------------
	4. Content, Intro & Sidebar 
-------------------------------------------
*/
#top {
}
#middle {
	margin-top:20px;
}
#bottom {
	margin-top:30px;
}
#content {
	padding-bottom:30px;
}
#intro {
	padding-top:10px;
	padding-bottom:10px;
}
#intro h2 {
	margin:0;
	font-size: 20px;
	line-height:24px;
	vertical-align:text-bottom;
}
#socialmedia {
	float:right;
}
.subscriberStats{
	height:24px;
}
.socialIcon{
	float:left;
	height:24px;
	width:24px;
	padding-left:5px;
}
.subscriberCount{
	color:#fff;
	float:left;
	font-size:16px;
	line-height:24px;
	text-transform:capitalize;
}
#aside {
	float:right;
}
#main {
	float:left;
}

ul.sidebar-comment {
	list-style:none;
	margin:0;
}
ul.sidebar-comment li {
	display:block;
}
ul.sidebar-post {
	list-style:none;
	margin:0;
}
ul.sidebar-categories {
	list-style:none;
	margin:0;
}
ul.sidebar-archive {
	list-style:none;
	margin:0;
}
.no-padding {
	padding-bottom:0px !important;
}
/*	
	A) GLOBAL
-------------------------------------------
	5. Footer
-------------------------------------------
*/
#footer ul.social li {
	display:inline;
	margin-right:5px;
	margin-bottom:5px;
	margin-top:0 !important;
}
#footer {
	display:block;
	padding-top:30px;
	margin-bottom:30px;
}
#footer ul.social {
	margin-top:20px;
}
#footer ul.social li {
	margin-top:20px;
}
#footer ul.sidebar-post li {
	margin-bottom:0;
	margin-top:20px;
}
#footer img.left {
	margin-right:15px;
	margin-bottom:20px;
}
#footer h5 {
	margin-bottom:20px;
}
#footer p {
	margin-top:20px;
}
#footer ul {
	list-style:none;
	margin:0;
}
#footer ul li {
	margin-bottom:5px;
	display:block;
}
#sub_footer {
	font-size:11px;
	margin-top:30px;
	padding-top:30px;
}
#sub_footer ul {
	list-style:none;
	margin:0;
}
#sub_footer ul li {
	margin:0;
}
#sub_footer p {
	margin:0;
}
#footer ul.tweet li {
	margin-top:20px;
	margin-bottom:0;
}
#footer ul.tweet li:last-child {
	margin-bottom:0;
}
/*	
	A) GLOBAL
-------------------------------------------
	6. Lists
-------------------------------------------
*/
ul li, ol li {
	margin-top:10px;
}
ul, ol {
	display:block;
	margin:10px 0 0 0;
	list-style-position:inside;
}
ul.check, ul.uncheck {
	display:block;
	list-style:none;
	margin:10px 0 0 0;
}
ul.check li {
	background-attachment: scroll;
	background-image: url('../img/icons/check.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:30px;
	margin-top:10px;
}
ul.uncheck li {
	background-attachment: scroll;
	background-image: url('../img/icons/uncheck.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:30px;
	margin-top:10px;
}
/* 
 B) Blog
-------------------------------------------
 1. General
-------------------------------------------
*/

.entry-meta {
	margin-top:10px;
	font-size:11px;
}
.single {
	margin-bottom:10px;
}
.comment {
	padding-bottom:40px;
	margin-bottom:30px;
	background-image: url('../img/frame_bg.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
}
.blog-author {
	margin-top:30px;
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid #64615A
}
.blog-author h4 {
	color:#333;
}
.blog-comments {
	margin-top:30px;
	padding-top:40px;
	background-image: url('../img/frame_bg.gif');
	background-repeat: repeat-x;
	background-position: center top;
}
.comments-count {
	margin-bottom:30px;
}
.comment-info {
	text-align:left;
}
.comment-reply {
	text-align:right;
	font-size:11px;
}
.comment-author {
	margin-right:2px;
	font-size:11px;
}
.comment-time {
	font-size:11px;
}
.entry-meta a {
	cursor:pointer;
}
.comment-links {
	padding-right:15px;
}
.comment-links-title {
	margin-right:2px;
	background-image: url('../img/icons/chat_2.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:17px;
}
.cat-links {
	padding-right:15px;
}
.cat-links-title {
	margin-right:2px;
	background-image: url('../img/icons/document_1.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:17px;
}
.tag-links {
	padding-right:15px;
}
.tag-links-title {
	margin-right:2px;
	background-image: url('../img/icons/tag.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:17px;
}
.post-date {
	background-attachment: scroll;
	background-image: url('../img/icons/clock.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:17px;
	margin-right:13px;
}
a.post-date, .tag-links a, .cat-links a, .comment-links a, .comment-time a {
	color:#ABABA4;
}
/*	
	C) Portfolio
-------------------------------------------
	1. General
-------------------------------------------
*/
.portfolio {
	display:block;
}
ul.filter_portfolio {
	list-style:none;
	display:block;
	margin-bottom:30px;
	margin-top:0 !important;
}
ul.filter_portfolio li {
	margin:0;
	margin-right:15px;
	display:inline;
}
ul.filter_portfolio .pin {
	background-attachment: scroll;
	background-image: url('../img/icons/pin.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:24px;
}
ul.filter_portfolio li a {
	text-decoration:none;
	color:#333;
}
ul.filter_portfolio li a:hover {
	text-decoration:underline;
	color:#333;
}
ul.portfolio {
	width: 980px;
	list-style:none;
	margin-top:0 !important;
}
ul.portfolio:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
ul.portfolio li {
	margin:0;
	float:left;
	margin-right:20px;
	margin-bottom:30px;
}

/*	
	D) Shortcodes 
-------------------------------------------
	1. General
-------------------------------------------
*/
.frame {
	padding:6px;
	background:url('../img/frame_bg.gif') repeat;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.frame:hover {
	background:#4398e7;
}
.btn.red, .btn.red:hover, .btn.orange, .btn.orange:hover, .btn.green, .btn.green:hover, .btn.purple, .btn.purple:hover, .btn.blue, .btn.blue:hover {
	color: #ffffff;
}
.btn.red {
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.orange {
	background-color: #F55D2D;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#faa33c), to(#F55D2D));
	background-image: -moz-linear-gradient(top, #faa33c, #F55D2D);
	background-image: -ms-linear-gradient(top, #faa33c, #F55D2D);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faa33c), color-stop(100%, #F55D2D));
	background-image: -webkit-linear-gradient(top, #faa33c, #F55D2D);
	background-image: -o-linear-gradient(top, #faa33c, #F55D2D);
	background-image: linear-gradient(top, #faa33c, #F55D2D);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa33c', endColorstr='#F55D2D', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #F55D2D #F55D2D #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.purple {
	background-color: #a036ea;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#b459f4), to(#a036ea));
	background-image: -moz-linear-gradient(top, #b459f4, #a036ea);
	background-image: -ms-linear-gradient(top, #b459f4, #a036ea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b459f4), color-stop(100%, #a036ea));
	background-image: -webkit-linear-gradient(top, #b459f4, #a036ea);
	background-image: -o-linear-gradient(top, #b459f4, #a036ea);
	background-image: linear-gradient(top, #b459f4, #a036ea);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b459f4', endColorstr='#a036ea', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #a036ea #a036ea #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.green {
	background-color: #57a957;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #57a957 #57a957 #3d773d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.blue {
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn {
	cursor: pointer;
	display: inline-block;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 12px;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	margin-top:10px;
}
.btn:hover {
	background-position: 0 -15px;
	color: #333;
	text-decoration: none;
}
.zoom {
	display:block;
	background-image: url('../img/zoom.png');
	background-repeat: no-repeat;
	background-position: 90% 90%;
	z-index:100;
	background-color:#000;
}
.shadow {
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
	-ms-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}
.left {
	float:left;
}
.right {
	float:right;
}
img.left {
	margin-right:15px;
	margin-bottom:10px;
}
img.right {
	margin-left:15px;
	margin-bottom:10px;
}
.center {
	margin-left:auto;
	margin-rigth:auto;
	text-align:center;
	margin-top:10px;
}
.fluid {
	float:left;
	width:100%;
}
.image {
	margin-right:15px;
	float:left;
}
.description {
	overflow:hidden;
}
.text_align_center {
	text-align:center;
}
.align_left {
	text-align:left;
}
.align_right {
	text-align:right;
}
/*	
	D) Shortcodes 
-------------------------------------------
	2. Highlight Text
-------------------------------------------
*/
.highlight1 {
	padding:2px 6px;
	color:#333;
}
.highlight2 {
	padding:2px 6px;
	background-color:#000;
	color:#f5f5f5;
}
.highlight3 {
	padding:2px 6px;
	background-color:#FF6;
	color:#000;
}
.highlight4 {
	padding:2px 6px;
	background-color:#C33;
	color:#f5f5f5;
}
/*	
	D) Shortcodes 
-------------------------------------------
	3. Dropcaps
-------------------------------------------
*/
.dropcap1 {
	display:block;
	float:left;
	font-size:22px;
	line-height:25px;
	margin:3px 15px 10px 0;
}
.dropcap2 {
	display:block;
	float:left;
	font-size:22px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:3px 15px 10px 0;
}
/*	D) Shortcodes 
-------------------------------------------
	4. Table
-------------------------------------------
*/
table {
	margin:0;
	width:100%;
	border: 1px solid #ddd;
}

}
.price {
	font-size: 11px;
}
sup {
	font-size: 8px;
}
table td {
	
	padding:10px 15px;
	text-align:center;
}
table tfoot {
	text-align:center;
}
table td .btn {
	margin:0;
}
/*	D) Shortcodes 
-------------------------------------------
	5. Code
-------------------------------------------
*/
code, pre {
	display:block;
	padding:0 15px;
	border:1px solid #ddd;
	background:url('../img/code_bg.png') repeat scroll 0 0 transparent;
	font-size:11px;
	line-height:19px;
	overflow:hidden;
}
/*	D) Shortcodes 
-------------------------------------------
	6. Testimonials
-------------------------------------------
*/

.testim_description {
	overflow: hidden;
	font-size:13px;
}
.testim-author {
	float:right;
}
.gray_box {
	padding:15px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border:1px solid #000;
}
/*	D) Shortcodes
-------------------------------------------
	7. Tabs
-------------------------------------------
*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #ddd;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
}
ul.tabs li a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 0 15px;
	border: 1px solid #ddd;
	outline: none;
}
ul.tabs a:active {
	outline:none;
}
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	cursor:default !important;
}
.panes {
	border: 1px solid #ddd;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
}
.panes div {
	padding: 15px;
	border:1px solid #ddd;
	border-width: 1px 1px 1px 1px;
}
.panes h4 {
	font-weight:normal;
	margin:0 0 10px 0;
	font-size:16px;
	color:#333;
}
.panes p {
	margin:10px 0 0 0;
	color:#333;
}
.panes img {
	margin-bottom:10px;
}
/*	D) Shortcodes
-------------------------------------------
	8. Accordion
-------------------------------------------
*/
#accordion {
	width: 100%;
	border:1px solid #ddd;
	display:inline-block;
}
/* accordion header */
#accordion h3 {
	margin:0;
	padding:5px 15px;
	font-size:12px;
	border:1px solid #ddd;
	border-bottom:1px solid #ddd;
	cursor:pointer;
}
#accordion h3:hover {
	color:#333;
}
/* currently active header */
#accordion h3.current {
	cursor:default;
}
/* accordion pane */
#accordion .pane {
	border:1px solid #ddd;
	border-width:0 1px;
	display:none;
	height:auto;
	padding:15px;
}
/* a title inside pane */
#accordion .pane h4 {
	font-weight:normal;
	margin:0 0 10px 0;
	font-size:16px;
	color:#333;
}
#accordion .pane p {
	margin:10 0 0 0;
	color:#333;
}
.pane img {
	margin-bottom:10px;
}
/*	D) Shortcodes
-------------------------------------------
	9. Notification Boxes
-------------------------------------------
*/

.boxes {
	margin:10px 0 0 0;
	padding:15px 15px 15px 62px;
}
/*	E) Flickr
-------------------------------------------
	1. General
-------------------------------------------
*/
.thumbs {
	margin:0;
	padding: 0;
	overflow: hidden;
}
.thumbs li {
	list-style: none;
	float: left;
	margin-right:5px;
}
.thumbs li img {
	display: block;
	width:38px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	padding:6px;
	background:url('../img/frame_bg.gif') repeat;
}
.thumbs li img:hover {
	display: block;
}
.thumbs li a img {
	border: none;
}
ul#flickr {
	margin:0;
	padding:0;
	display:inline-block;
	width:220px;
}
ul#flickr li {
	margin-top:0;
!important
}
/*	F) Misc
-------------------------------------------
	1. General
-------------------------------------------
*/
ul.team_contact {
	list-style:none;
	margin:0;
}
ul.team_contact .phone {
	background-attachment: scroll;
	background-image: url(../img/icons/home.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:24px;
}
ul.team_contact .email {
	background-attachment: scroll;
	background-image: url(../img/icons/email.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:24px;
}
ul.team_contact .twitter {
	background-attachment: scroll;
	background-image: url(../img/icons/twitter.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:24px;
}
ul.team_contact li {
	margin-top:10px;
}
blockquote.style1 {
	margin-top:10px;
	padding-left:15px;
	padding-right:15px;
}
blockquote.style2 {
	padding:15px;
	margin-top:10px;
}
.error404 {	
	padding:10px;
	background:url('../img/frame_bg.gif') repeat;
	
}
.error404 h1 {
	text-align:center;
	margin:0;
	height:100px;
	line-height:100px;
	font-size:52px;
	text-transform:uppercase;
}

/*	
	G) CONTACT Form & Search Form
-------------------------------------------
	1. Contact From
-------------------------------------------
*/
textarea {
	overflow:hidden;
	width:600px;
}
input {
	height:30px;
}
ul.cform {
	margin:0;
	list-style:none;
}
ul.cform li {
	margin-top:10px;
}
ul.cform li .btn {
	margin-top:0 !important;
}
#product_search .btn {
	margin-top:0 !important;
	height:34px;
}
ul.cform li label {
	display:block;
	margin-bottom:10px;
	line-height: 36px;
	width: 65px;
	margin: 0px;
	text-indent: 10px;
}
input#name, input#email {
	width:290px;
}
input.button {
	width:auto;
}
input.button {
	cursor:pointer;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: hidden;
	color:#fff;
}
input.button {
	text-decoration:none;
}
input, textarea {
	background:#ddd;
}
.valmsg {
	display:none;
}
#sendmessage {
	background:url('../img/icons/success_icon.png') no-repeat 20px center #DFF2BF;
	border:1px solid #4F8A10;
	color:#4F8A10;
	display:none;
	padding:15px 12px 15px 65px;
	margin:10px 0;
}
input[type=text]:focus, textarea:focus, input[type=password]:focus {
	outline: 0 none;
}
.search, .reginput {
	width: 242px;
}
.fancyinput {
	outline: 0;
	font-size: 12px;
	text-indent:8px;
}
.fancyinputarea {
	padding: 9px;
	outline: 0;
	font-size: 12px;
}
input[type=submit] {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 12px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
/*	
	H) Carousel
-------------------------------------------
	1. Carousel
-------------------------------------------
*/
.timer {
	height:1px;
	width: 0px;
}
ul#foo1 li {
	margin-top:0;
	margin-bottom:10px;
}

#clients {
	margin-top:30px;
}
#clients ul {
	list-style:none;
	margin:0;
}
#clients li {
	display:inline;
	margin-top:0;
}
.caroufredsel_wrapper {
	width:960px;
}
.no-margin {
	margin:0;
}